<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.firstgun.dao.DbMapper">

    <!--获取博主发布的标题、博主、发布文章时间、作者头像图片路径-->
    <select id="getSelectNews" resultType="NewsTitle">
        SELECT ntitle,nauthor,nreads,ncreateTime,nimg FROM newstitle ORDER BY ncreateTime DESC limit #{index},#{pageSize};
    </select>
    <!--获取数据库总条数-->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(1) FROM newstitle;
    </select>
    <!--获取今日推荐的照片和标题-->
    <select id="getGroom" resultType="NewsTitle">
        SELECT ntitle,npicture FROM newstitle ORDER BY ncreateTime limit 0,15;
    </select>

    <!--根据nid获取文章内容-->
    select * from newstitle where nid=#{nid}

</mapper>
 
