<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.firstgun.dao.NewsTitleMapper">
    <!--添加博主发布的内容-->
    <insert id="insertNews" parameterType="int">
        INSERT INTO newstitle(`ntitle`,`nconten`,`ntab`,`narticle`) VALUES(#{ntitle},#{nconten},#{ntab},#{narticle});
    </insert>
    <!--获取博主发布的标题、博主、发布文章时间、作者头像图片路径-->
    <select id="getSelectNews" resultType="NewsTitle">
        SELECT ntitle,ntab,nauthor,nreads,ncreateTime,nauthor,nimg,nid,nview,npicture FROM newstitle ORDER BY ncreateTime DESC limit #{index},#{pageSize};
    </select>
    <!--获取数据库总条数-->
    <select id="newsCount" resultType="int">
        SELECT COUNT(*) FROM newstitle;
    </select>
    <!--获取今日推荐的照片和标题-->
    <select id="getGroom" resultType="NewsTitle">
        SELECT ntitle,npicture,nauthor FROM newstitle ORDER BY ncreateTime limit 0,10;
    </select>
    <!--添加博主发布文章-->
    <insert id="inserNews">
        INSERT INTO newstitle(`ntitle`,`nconten`,`nauthor`,`ntab`,`ncreateTime`,`nimg`) VALUES (#{ntitle},#{nconten},#{nauthor},#{ntab},#{ncreateTime},#{nimg});
    </insert>

    <!--根据标题，博主模糊查询-->
    <select id="likeCheck" resultType="NewsTitle">
        SELECT * FROM newstitle
        <trim prefix="WHERE">
            <if test="nauthor != null">
                 nauthor like  concat( '%' , #{nauthor}, '%')
            </if>
            <if test="ntitle != null">
                or ntitle like  concat( '%' , #{ntitle}, '%')
            </if>
        </trim>
    </select>

    <!-- 根据nid查询一条数据 -->
    <select id="getNewsTitle" resultType="NewsTitle">
        SELECT * FROM newstitle WHERE nid=#{nid}
    </select>

    <!--根据nid修改Nview-->
    <update id="updateView">
        UPDATE `newstitle` SET nview=#{nview} WHERE nid=#{nid};
    </update>





    <resultMap id="News" type="NewsTitle">
        <id property="nid" column="nid" />
        <result property="ntitle" column="ntitle" />
        <result property="nconten" column="nconten" />
        <result property="nauthor" column="nauthor" />
        <result property="ntab" column="ntab" />
        <result property="ncreateTime" column="ncreateTime" />
        <result property="nreads" column="nreads" />
        <result property="nimg" column="nimg" />
        <result property="narticle" column="narticle" />
        <result property="nfollower" column="nfollower" />
        <result property="nlike" column="nlike" />
        <result property="ndiscuss" column="ndiscuss" />
        <result property="nthumb" column="nthumb" />
        <result property="ngrade" column="ngrade" />
        <result property="nview" column="nview" />
        <result property="nintegration" column="nintegration" />
        <result property="nranking" column="nranking" />
        <result property="npicture" column="npicture" />
    </resultMap>
</mapper>
 
