<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.firstgun.dao.OtherTitleMapper">
    <!--添加博主发布的内容-->
    <insert id="insertOtherTitle" parameterType="int">
        INSERT INTO other(`ntitle`,`nconten`,`ntab`,`narticle`) VALUES(#{ntitle},#{nconten},#{ntab},#{narticle});
    </insert>
    <!--获取博主发布的标题、博主、发布文章时间、作者头像图片路径-->
    <select id="getSelectOther" resultType="OtherTitle">
        SELECT ntitle,ntab,nauthor,nreads,ncreateTime,nauthor,nimg FROM other ORDER BY ncreateTime limit 0,25;
    </select>
    <!--获取今日推荐的照片和标题-->
    <select id="getGroom" resultType="OtherTitle">
        SELECT ntitle,npicture,nauthor FROM other ORDER BY ncreateTime limit 0,15;
    </select>



    <resultMap id="Other" type="OtherTitle">
        <id property="nid" column="nid" />
        <result property="ntitle" column="ntitle" />
        <result property="nconten" column="nconten" />
        <result property="nauthor" column="nauthor" />
        <result property="ntab" column="ntab" />
        <result property="ncreateTime" column="ncreateTime" />
        <result property="nreads" column="nreads" />
        <result property="nimg" column="nimg" />
        <result property="narticle" column="narticle" />
        <result property="nfollower" column="nfollower" />
        <result property="nlike" column="nlike" />
        <result property="ndiscuss" column="ndiscuss" />
        <result property="nthumb" column="nthumb" />
        <result property="ngrade" column="ngrade" />
        <result property="nview" column="nview" />
        <result property="nintegration" column="nintegration" />
        <result property="nranking" column="nranking" />
        <result property="npicture" column="npicture" />
    </resultMap>


</mapper>
 
